extends layout

block content
  h1= title
  p Welcome to #{title}

    form(method="POST" action="/new")
      p name
      input(name="user")
      p message
      input(name="message")
      button Submit